package views


templ DownloadEncrypted(url string) {

    <p>If the URL fails to be generated, wait a few seconds before trying again.</p>
    <a id="downloadLink" href={templ.URL(url)} download="encrypted_file">Download encrypted file</a>
}
