body {
    font-family: Arial, sans-serif;
    background-color: #2c2c2c;
    color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background-color: #7652ba;
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
}
header h1 {
    margin: 0;
}
nav ol {
    padding: 0;
    margin: 1rem 0 0 0;
    list-style: none;  /* Remove default list styling if needed */
}
nav ol li {
    margin: 0 0 0 1rem;  /* Add margin only on the left to create space between items */
}
nav ul li a {
    color: #f4f4f4;
    text-decoration: none;
}
main {
    padding: 2rem;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    margin-bottom: 2rem;
    width: 100%;
    max-width: 600px;
}
section ol {
    text-align: left;  /* Ensure the text within the ordered list is left-aligned */
}
section ol li {
    margin-left: 1rem;  /* Add margin to the left for indentation */
    text-align: left;   /* Ensure each list item is left-aligned */
}
footer {
    background-color: #7652ba;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}
button {
    background-color: #7652ba;
    color: #f4f4f4;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
button:hover {
    background-color: #673fb5;
}
input[type="file"], input[type="password"] {
    margin-bottom: 1rem;
    width: calc(100% - 1rem);
    padding: 0.5rem;
}
label {
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
form div {
    margin-bottom: 1rem;
    text-align: left;
}
#error-message {
    color: #ff6347;
    margin-top: 1rem;
}
